
/* 
------------------------表單-----------------------------
*/
input {

    font-size: 18px;
    transition-duration: 1s ;
}

input:hover {
    
    background-color: rgb(245, 204, 108);
}

#form_list  {
    text-align: right; 
    background-color: azure;
}

#form_data  {
    text-align: left; 
    background-color: azure;
}

h1 {
    background: rgb(242, 117, 117);
    padding: 10px;
 
}

